:root {
    --primary-color: #055a05;
    --secondary-color: #dd5add;
    --accent1-color: #264653;
    --accent2-color: #354683;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: rgba(255, 255, 255, 0.8);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--accent2-color);
    text-align: center;

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin: 0 6px;
}

.hero {
    position: relative;
    margin-bottom: 60px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent1-color);
    padding: 16px;
    width: 60%;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px;
}

footer {
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: #fff;
    opacity: 0.7;
    z-index: 2;
}