.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 15px;
    background-color: #247;
    color: #fff;

}

.callout img {
    float: right;
    margin-left: 10px;
    margin: 0 0 10px;
    padding: 3px;
    background-color: #bbb;
    width: 15 0px;
    height: auto;

}

blockquote {
    margin: 0;

}

cite {
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;

}